#dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 0;
  padding: 0 0 0;

  #leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    border: none;
  }

  #rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    width: 60%;
    margin-left: 3%;
  }
}
