@import './__global';
/* graphContainer.scss */
.graphContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.graphSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.indvidualGraph {
  flex: 1;
  margin: 10px;
  min-width: 0;
  background-color: $background-default;
}

.indvidualGraph h3 {
  text-align: center;
}
