@import '__global.scss';

.graphContainer {
  text-align: center;
}

.graphSubContainer {
  display: flex;
  flex-direction: column;
  gap: 16px; // Adds space between the graph components
}

.indvidualGraph {
  padding: 16px;
  background-color: $background-paper;
  box-shadow: $box-shadow;
  border-radius: $border-radius;

  h3 {
    margin-bottom: 16px;
    color: $text-primary;
    font-weight: $font-weight-bold;
  }

  .recharts-wrapper {
    width: 100%;
    height: 100%;
  }
}
