@import './__global';

#statusContainer {
  padding: 16px;
  padding-top: 0;

  h2 {
    margin-bottom: 16px;
    color: $text-primary;
    font-weight: $font-weight-bold;
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: center;

    .formContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 600px; // Increased max-width for a bigger box
      padding: 32px; // Increased padding for a bigger box
      border-radius: $border-radius;
      background-color: $background-default;
      position: relative; // Added to ensure relative positioning for overflow handling
      overflow: visible; // Ensure the overflow is visible

      label {
        margin-bottom: 8px;
        color: $text-secondary;
        font-size: $font-size-medium;
      }

      select,
      .datepicker,
      input {
        margin-bottom: 16px;
        padding: 8px;
        border: 1px solid $divider;
        border-radius: $border-radius;
        font-size: $font-size-medium;
        width: 100%;
        position: relative; // Ensure the relative positioning for children
        z-index: 1; // Ensure it is above other components
      }

      select {
        &:focus {
          border-color: $primary-main;
          box-shadow: 0 0 0 1px $primary-main;
        }
      }

      .datepicker {
        &:focus {
          border-color: $primary-main;
          box-shadow: 0 0 0 1px $primary-main;
        }
      }

      #submitButton {
        padding: 8px 16px;
        background-color: $primary-main;
        color: $primary-contrastText;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
        font-size: $font-size-medium;
        font-weight: $font-weight-medium;
        text-transform: uppercase;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($primary-main, 10%);
        }

        &:disabled {
          background-color: lighten($primary-main, 30%);
          cursor: not-allowed;
        }
      }

      .react-datepicker-wrapper {
        width: 100%; // Ensure the datepicker wrapper takes full width
      }

      .react-datepicker {
        z-index: 2; // Ensure the datepicker is above other elements
      }
    }
  }
}
