@import '__global.scss';

#infoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #ccc;
  margin: 10px 0;
  width: 150%;
  border-color: black;
  color: $darkblue;

  label {
    font-size: large;
  }

  button {
    background-color: transparent;
  }

  #submitButton {
    background-color: $darkblue;
    color: #ccc;
  }
}

.datepicker {
  .react-datepicker__month-container {
    background-color: white;
    color: #969eac;
    font-size: 1rem;
    font-family: 'Mulish';

    .react-datepicker__month {
      padding: 1rem 0;
    }

    .react-datepicker__month-text {
      display: inline-block;
      width: 5rem;
      margin: 0.5rem;
      font-size: 1rem;
      padding: 0.2rem;
      &:hover {
        background-color: #534cea;
      }
    }

    .react-datepicker__navigation--next {
      background-color: #1c3454; // Customize the background color
      border-radius: 50%; // Make the button round
      width: 30px; // Adjust the width
      height: 30px; // Adjust the height
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &::before {
        border-color: #a6d8d9; // Customize the arrow color
      }

      &:hover {
        background-color: #a6d8d9; // Change background color on hover
        &::before {
          border-color: #1c3454; // Change arrow color on hover
        }
      }
    }
  }
}
